:root {
    /* Azul */
    --azul-light: #e6f2f7;
    --azul: #0273ae;
    --azul-hover: #026b9d;
    --azul-dark: #014868;

    /* Verde */
    --verde-light: #f5fefa;
    --verde: #5cf5cf;
    --verde-hover: #7ec4a6;
    --verde-dark: #537c62;

    /* Turquesa */
    --turquesa-light: #ebf8fa;
    --turquesa: #51dacf;
    --turquesa-hover: #41aac6;
    --turquesa-dark: #318372;

    /* Amarillo */
    --amarillo-light: #fefdf8;
    --amarillo: #f2efb6;
    --amarillo-hover: #c2bf92;
    --amarillo-dark: #918d64;
}